@using PBL3Hos.ViewModel
@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>Register</h1>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Username)
            @Html.TextBoxFor(temp => temp.Username, new { placeholder = "UserName", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Username)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Fullname)
            @Html.TextBoxFor(temp => temp.Fullname, new { placeholder = "Fullname", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Fullname)
        </div>


        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Email)
            @Html.TextBoxFor(temp => temp.Email, new { placeholder = "Email", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Email)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Password)
            @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Password)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.ConfirmPassword)
            @Html.PasswordFor(temp => temp.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Mobile)
            @Html.TextBoxFor(temp => temp.Mobile, new { placeholder = "Mobile", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Mobile)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.DateofBirth)
            @Html.TextBoxFor(temp => temp.DateofBirth, new { placeholder = "Date of birth", @class = "form-control", type = "date", max = DateTime.Now.ToString("yyyy-MM-dd") })
            @Html.ValidationMessageFor(temp => temp.DateofBirth)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Address)
            @Html.TextBoxFor(temp => temp.Address, new { placeholder = "Address", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Address)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.City)
            @Html.TextBoxFor(temp => temp.City, new { placeholder = "City", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.City)
        </div>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
}






