@using PBL3Hos.Areas.Admin.Models
@model RegisterVMDT
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h1>Register</h1>
@using (Html.BeginForm("Register", "User", new { area = "Admin" }, FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Username)
            @Html.TextBoxFor(temp => temp.Username, new { placeholder = "UserName", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Username)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Fullname)
            @Html.TextBoxFor(temp => temp.Fullname, new { placeholder = "Fullname", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Fullname)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Email)
            @Html.TextBoxFor(temp => temp.Email, new { placeholder = "Email", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Email)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Password)
            @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Password)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.ConfirmPassword)
            @Html.PasswordFor(temp => temp.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Mobile)
            @Html.TextBoxFor(temp => temp.Mobile, new { placeholder = "Mobile", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Mobile)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.DateofBirth)
            @Html.TextBoxFor(temp => temp.DateofBirth, new { placeholder = "Date of birth", @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(temp => temp.DateofBirth)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Address)
            @Html.TextBoxFor(temp => temp.Address, new { placeholder = "Address", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Address)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.City)
            @Html.TextBoxFor(temp => temp.City, new { placeholder = "City", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.City)
        </div>
       

        <div class="col-md-6">
            <label for="Specialist">Specialist</label>
            @Html.DropDownListFor(row=>row.Specialist,new List<SelectListItem>()
                {
        new SelectListItem(){Text="Cardiology",
        Value="Cardiology"},
        new SelectListItem(){Text="Neurology",
        Value="Neurology"},
        new SelectListItem(){Text="Psychology",
        Value="Psychology"},
        new SelectListItem(){Text="Dermatology",
        Value="Dermatology"},
        },"Please Select...",new{@class="form-control"})
                  
        @Html.ValidationMessageFor(temp => temp.Specialist)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Career)
            @Html.TextAreaFor(temp => temp.Career, new { placeholder = "Career", @class = "form-control", rows = 5 })
            @Html.ValidationMessageFor(temp => temp.Career)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.qualification)
            @Html.TextBoxFor(temp => temp.qualification, new { placeholder = "Qualification", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.qualification)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.yearofexperience)
            @Html.TextBoxFor(temp => temp.yearofexperience, new { placeholder = "Year Of Experience", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.yearofexperience)
        </div>

        <div class="col-md-6">
            @Html.LabelFor(temp => temp.studyprocess)
            @Html.TextAreaFor(temp => temp.studyprocess, new { placeholder = "Process of Study", @class = "form-control", rows = 5 })
            @Html.ValidationMessageFor(temp => temp.studyprocess)
        </div>


    </div>
    <button type="submit" class="btn btn-success">Register</button>
}


