@model PBL3Hos.Models.DbModel.AppointmentDB
@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Areas/Doctor/Views/Shared/DoctorLayoutPage1.cshtml";
}
<form action="/doctor/doctor/cancel/@Model.PatientId" method="post">
    <input type="hidden" name="PatientId" value="@Model.PatientId" />
    <input type="hidden" name="Date" value="@Model.Date" />
    <input type="hidden" name="DoctorId" value="@Model.DoctorId" />



    <table class="table">
        <tr>
            <th>User Doctor</th>
            <td>@Model.Doctor.AppUser.UserName</td>
        </tr>

        <tr>
            <th>Date</th>
            <td>@Model.Date.ToString("dd/MM/yyyy")</td>
        </tr>


    </table>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/home/index" class="btn btn-dark">Cancel</a>
</form>



